{% load static %}
<!-- Start Datatables-js from aa-gdpr -->
<script src="{% static 'aagdpr/ajax/libs/datatables.net/1.13.7/js/jquery.dataTables.min.js' %}"
        integrity="sha512-7ilNMAgbuWXHILZQninNCl4LNo2OMW39hq984jpRgyUPlV2dy94yVoOJV1tQjohdqZ+2e5Ek2gEbKqWB4A8dRg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="{% static 'aagdpr/ajax/libs/datatables.net/1.13.7/js/dataTables.bootstrap.min.js' %}"
        integrity="sha512-zAokAlVr3ADuYA4Z+Z4pQWPYZIqPwhGkvAqIFXA8PaPqtql3j6eBlMr6DK9UWNJBRuaJpk4CZUo44wCnGu8paA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<!-- End Datatables-js from aa-gdpr -->
